*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    max-width: 1920px;
    margin: 0 auto;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
  }
  .center {
    text-align: center;
    letter-spacing: 3mm;
  }
  
  .text-header {
    text-align: center;
    padding-right: 8rem;
    line-height: 1rem;
  }
  
  .logo img  {
    max-width: 150px;
    
  }
  
  .logo {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  