*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    max-width: 1920px;
    margin: 0 auto;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
  }
  .center {
    text-align: center;
    letter-spacing: 3mm;
  }
  
  .text-header {
    text-align: center;
    padding-right: 8rem;
    line-height: 1rem;
  }
  
  .logo img  {
    max-width: 150px;
    
  }
  
  .logo {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .reg-no {
    margin-bottom: 1rem;
    margin-left: 18rem ;
  }
  .reg-no span {
    color: red;
    
  }
  
  main {
    border: 1px solid black;
    width: 75%;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .gen-info-header {
    text-align: center;
    background-color: rgb(200, 162, 200);
    border-bottom: 1px solid black;
  }
  
  .SGI-column {
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: 1.8;
  }
  